@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.Navbar_ {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-between;
  height: 5.25rem;
  width: 100%;
  max-width: 1300px;
  background: #f7ce46;
  color: white;
  border-radius: 1em;
  padding: 8px 16px;
  margin-block: 1em;
  margin-inline: auto;
  z-index: 100;
  transform-style: preserve-3d;

  &::after {
    content: '';
    position: fixed;
    top: 4em;
    left: 0;
    background: #f19c38;
    border: none;
    border-radius: 0 0 1em 1em;
    height: 2em;
    width: 100%;
    transform: translateZ(-1em);
  }

  .Navbar_title {
    font-family: 'Comic Neue';
    font-weight: bold;
    font-size: 2em;
    padding: 8px 16px;
  }

  .Navbar_links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      margin: auto;

      li {
        height: 100%;
        list-style: none;
        margin: auto;

        a {
          height: 100%;
          color: black;
          text-decoration: none;
          margin: auto;
        }
      }
    }
  }
}

.Navbar_under {
  // top: 3.75em;
  // left: 3.75;
  // max-width: 1500px;
  // height: 2em;
  // background: #f19c38;
  // border-radius: 0 0 1em 1em;
  // padding: 8px 16px;
  // margin: 1em 1em 0 1em;
  // z-index: 1000;
}
